<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    {% block title %}
    <title>Accueil</title>
    {% endblock title %}

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    {% load staticfiles %}
    {% block styles %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
      <link rel="stylesheet" type="text/css" href="/static/css/site.css"/>
      <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    {% endblock styles %}

  </head>
  <body>
    <div id="container">
      <header>
        <div class="banner">
          <h1 id="gconfs_title">GConfs</h1>
          <h3>Assocation pour les conférences à EPITA et EPITECH</h3>
        </div>
        <nav class="nav navbar-default navbar-static-top navbar-inverse">
          <div class="container-fluid">
          <ul class="nav nav-justified">
            <li>
              <a class="button white"
                 href="/.">Accueil</a>
            </li>        <li>
              <a class="button white"
                 href="/confs">Conférences</a>
            </li>        <li>
              <a class="button white"
                 href="/team">Les membres</a>
            </li>        <li>
              <a class="button white"
                 href="/records">Comptes rendus</a>
            </li>        <li>
              <a class="button white"
                 href="/statuts">Progression</a>
            </li>        <li>
              <a class="button white"
                 href="/contact">Contact</a>
            </li>        <li>
              <a class="button white"
                 href="/stream">Stream</a>
            </li>    </ul>
          </div>
        </nav>
      </header>
    </div>
    <div id='content'>
      <section>
      {% block content %}
      {% endblock content %}
      </section>
    </div>
    </div>
  </body>
</html>
