<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    {% block title %}
    <title>Accueil</title>
    {% endblock title %}

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    {% load staticfiles %}
    {% block styles %}
      <!--<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
      <link rel="stylesheet" type="text/css"
      href="/static/css/bootstrap-responsive.min.css"/> -->
      <link rel="stylesheet" type="text/css" href="/static/css/site.css"/>
      <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    {% endblock styles %}

  </head>
  <body>
    <div id="container">
      <header>
        <div class="banner">
          <h1 id="gconfs_title">GConfs</h1>
          <h3>Assocation pour les conférences à EPITA et EPITECH</h3>
        </div>
        <nav class=menu>
          <ul>
            <li>
              <a class="button white"
                 href="/.">Accueil</a>
            </li>        <li>
              <a class="button white"
                 href="/confs">Conférences</a>
            </li>        <li>
              <a class="button white"
                 href="/reports">Comptes-rendus</a>
            </li>        <li>
              <a class="button white"
                 href="/status">Progression</a>
            </li>        <li>
              <a class="button white"
                 href="/contact">Contact</a>
            </li>        <li>
              <a class="button white"
                 href="/stream">Stream</a>
            </li>    </ul>
        </nav>
      </header>
    </div>
    <div id='content'>
      <section>
      {% block content %}
      {% endblock content %}
      </section>
    </div>
    </div>
  </body>
</html>
