[Unit]
Description=GConfs Website Database Backup
After=multi-user.target

[Service]
Type=oneshot
#ExecStart=/path/to/psql_dump.sh

[Install]
WantedBy=timers.target
