{% extends "site/base.html" %}

{% block title %}

<title>Status</title>

{% endblock title %}

{% block content %}

{% if board %}
<h1>{{ board }}</h1>

<ul>
{% if board.president %}

<li>Président : {{ board.president }}</li>

{% endif %}

{% if board.vice_president %}

<li>Vice-Président : {{ board.vice_president }}</li>

{% endif %}

{% if board.accountant %}

<li>Trésorier : {{ board.accountant }}</li>

{% endif %}

{% if board.vice_accountant %}

<li>Vice-Trésorier : {{ board.vice_accountant }}</li>

{% endif %}

{% if board.secretary %}

<li>Secrétaire : {{ board.secretary }}</li>

{% endif %}

{% if board.vice_secretary %}

<li>Vice-Secrétaire : {{ board.vice_secretary }}</li>

{% endif %}
</ul>
{% endif %}

{% endblock content%}
