html, body {
    background: #1A1A1A;
    margin: 0;
    padding: 0;
	font-family: verdana;
}

div#container {
    background: #222222;
    font-family: sans-serif;
	color: #CCCCCC;
    margin: 0 auto;
    padding: 0;
 /*   max-width: 800px;*/
}

header {
	left: 0px;
	right: 0px;
    margin: 0;
    padding: 0;
}

div.banner {
    background: #d07030 url(/static/img/banner-background.png)
                repeat-x bottom left;
    color: white;
    padding: 1em 20em;
}

div.banner h1 {
    font-size: 20pt;
    margin: 0;
    padding: 0;
}
div.banner h3 {
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

div.banner #feed {
    display: block;
    float: right;
    margin: 0;
}

#feed img { border: 0; }

p { text-align: justify; }
a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #d07030;
}

nav.menu {
    margin: 0;
    padding: 0.1em;
	background: #101010;
}

nav.menu ul {
    display: block;
    margin: 1em auto;
    padding: 0 2em;
    text-align: center;
}

nav.menu ul, nav.menu li {
    list-style-type: none;
}

nav.menu li {
    display: inline;
    margin: 1em;
    padding: 0;
}

nav.menu a {
    font-weight: bold;
    text-decoration: none;
}

nav.menu a:hover {
    color: #e0b070;
}

#content {
    margin: 0.5em 0;
    padding: 0.5em 20em;
    color: #ffffff
}

#content h1 {
    margin: 1em 0 1em 0;
    padding: 0;
    color: #e0b070;
}

#content h2 {
    margin: 2.5em 0 0.75em 0;
    padding: 0;
    color: #e0b070;
}

#content h3 {
    margin: 2em 0 0.5em 0;
    padding: 0;
    color: #e0b070;
}

footer p {
	text-align: center;
}

footer {
    padding: 0.025em 3em;
    background: #111111;
}

dt { margin-top: 1em; font-weight: bold; }
dd { margin-bottom: 1em; }
