{% extends "site/base.html" %}

{% block content %}
{% if conf %}
  {% block title %}
  <title>{{ conf.conf_title }}</title>
  {% endblock title %}

  <h1>{{ conf.conf_title }}</h1>
  
  <h3>Date</h3>
  <p>{{ conf.conf_date }}</p>

  <h3>Lieu</h3>
  <p>{{ conf.conf_location }}</p>

  <h3>Abstract</h3>
  <p>{{ conf.conf_description }}</p>

  {% with speakers=conf.conf_speakers.all %}
  {% if speakers|length > 0 %}
    {% if speakers|length > 1 %}
    <h3>Speakers</h3>
    {% else %}
    <h3>Speaker</h3>
    {% endif %}
      <ul>
        {% for speaker in speakers %}
        <li>{{ speaker }}</li>
        {% endfor %}
      </ul>
  {% endif %}
  {% endwith %}

  {% with tps=conf.tpinfo_set.all %}
  {% if tps %}
    <h3>TP</h3>
    <ul>
    {% for tp in tps %}
    <li><a href={{ tp.tpinfo_url }}>{{tp.tpinfo_title}}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  {% with videos=conf.videoinfo_set.all %}
  {% if videos|length > 0 %}
    {% if videos|length > 1 %}
      <h3>Vidéos</h3>
    {% else %}
      <h3>Vidéo</h3>
    {% endif %}
    {% for video in videos %}
      <h4>{{ video.videoinfo_title }}</h4>
      <iframe width="560" height="315"
        src="https://www.youtube.com/embed/{{video.youtube_id}}"
        frameborder="0" allowfullscreen></iframe>
    {% endfor %}
  {% endif %}
  {% endwith %}
  
{% endif %}
{% endblock content %}
