{% extends "site/base.html" %}

{% block title %}
  <title>Conférences</title>
{% endblock title %}
{% block content %}

<h1>Conférences</h1>
<p>Voici la liste des conférences passées et à venir organisées par
l'association GConfs<p>

<h2>Prochaines conférences</h2>

{% if future_confs %}
  <ul>
    {% for conf in future_confs %}
      <li><a href="{% url 'confs_details' conf.id %}">{{ conf.conf_title }}</a>
        {% if conf.conf_poster %}
        <br/>
        <a href="{% url 'confs_details' conf.id %}"><img border="0" src="/media/{{ conf.conf_poster }}" width="350" height="500"></a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Conférences Passées</h2>
{% if conf_list %}
  <ul>
    {% for conf in conf_list %}
      <li><a href="{% url 'confs_details' conf.id %}">{{ conf.conf_title }}</a>
        {% if conf.conf_poster %}
        <br/>
        <a href="{% url 'confs_details' conf.id %}"><img border="0" src="/media/{{ conf.conf_poster }}" width="350" height="500"></a>
        {% endif %}
      </li>
    {% endfor %}

  </ul>

{% endif %}
{% endblock content %}
