{% extends 'site/base.html' %}

{% block title %}
<title>Contact</title>
{% endblock title %}

{% block content %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<h1>Contact</h1>

{% with contact="contact@gconfs.fr" %}
  <p>Vous pouvez nous contacter via les moyens suivants :</p>
  <ul>
  <li><a href="mailto://{{ contact }}">{{ contact }}</a></li>
  <li>IRC : <code>#gconfs</code>  sur <a
         href="irc://irc.rezosup.org/#gconfs">irc.rezosup.org</a></li>
  <li>Ou le formulaire ci-dessous:
  </li>
  </ul>

  <form class="form-horizontal" action="/contact/" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group fieldWrapper">
      {{ form.subject.errors }}
      <label for="{{ form.subject.id_for_label }}" class="col-sm-2
        control-label">Subject:</label>
      <div class="col-sm-10">
      {{ form.subject }}
      </div>
    </div>
    <div class="form-group fieldWrapper">
      {{ form.message.errors }}
      <label for="{{ form.message.id_for_label }}" class="col-sm-2 control-label">Message:</label>
      <div class="col-sm-10">
      {{ form.message }}
      </div>
    </div>
    <div class="form-group fieldWrapper">
      {{ form.sender.errors }}
      <label for="{{ form.sender.id_for_label }}" class="col-sm-2
        control-label">Email:</label>
      <div class="col-sm-10">
      {{ form.sender }}
      </div>
    </div>
    <div class="form-group fieldWrapper">
      {{ form.captcha.errors }}
      <label for="{{ form.captcha.id_for_label }}" class="col-sm-2
        control-label">Captcha:</label>
      <div class="col-sm-10">
      {{ form.captcha }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary btn-lg active" value="Envoyer" />
      </div>
    </div>
  </form>

{% endwith %}
{% endblock content %}
